
<h1>新規アルバム</h1>
<main class="main">
  <div class="inner">
    <div>
      <%= link_to "キャンセル", albums_path, class: :nav__btn %>
    </div>
    <%= form_with model: @album, local: true do |f|%>
    <div class='album-form__field'>
      <div class='album-form__field--left'>
        <%= f.label :アルバム名, class: 'album-form__label' %>
      </div>
        <div class='album-form__field--right'>
          <%= f.text_field :title, class: 'album_name album-form__input', placeholder: 'アルバム名を入力してください' %>
        </div>
      </div>
      <div class='album-form__field'>
        <div class='album-form__field--left'>
        </div>
        <div class='album-form__field--right'>
          <%= f.submit class: :nav__btn %>
        </div>
      </div>
        <% end %>
    </div>
</main>