<h1>アイテム詳細</h1>
<main class="main">
  <div class="inner">
    <div>
      <%= link_to "アイテム削除", item_path, method: :delete, class: :nav__btn %>
      <%= link_to "アイテム編集", edit_item_path, class: :nav__btn %>
      <%= link_to "アイテム一覧へ戻る", items_path, class: :nav__btn %>
    </div>

    <div>
      <%= @item.title %>
    </div>
    <div>
      <%= @item.url %>
    </div>
    <div>
      <%= @genres.find(@item.genre_id).name %>
    </div>
</div>
</div>
</main>